*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    a{
        text-decoration: none;
        cursor: pointer;
    }
    li{
        list-style: none;
        cursor: pointer;
    }
}